* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
 color: aliceblue;
 background-color: rgb(7, 7, 7);
  font-family: var(--font-f-Rob);
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--font-s-button);
}

a {
  text-decoration: none;
  color:  var(--color-praymeri-blek);
  transition: color 0.2s ease;
}

a:hover {
  color: var( --color-secondary-steel);
}
