:root{
    --color-praymeri-light:#F4F6F9;
    --color-praymeri-blek:#1A1A1A;
    --color-praymeri-blue:#2C5FA8;
    --color-praymeri-blueHover:#1E4A85;


    --color-secondary-cream: #FFFAF3;
    --color-secondary-lavender-light: #F1F3FF;
    --color-secondary-steel: #444444;      
    --color-secondary-purple-light: #F9F9FF;
    

    --font-f-Rob:"Roboto", sans-serif;
    --font-f-Rudik:"Rubik", sans-serif;;

    --font-s-hero:4.0rem;/*72 */
    --font-s-title:3.5rem;/* 56 */
    --font-s-text:1.375rem;/* 22 */
    --font-s-button: 1.125rem;/*18  */

    --font-desktop-text:1.125rem;/*18  */
    --font-desktop-title: 2rem;/* 32 */
    --font-desktop-button:1rem;/*16  */


    --padding-size-basis: 0.6rem 1.7rem;
}